// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

/* To use the light Solarized highlighting theme uncomment the following line */
// $solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
$base03:          #002b36; //darkest blue
$base02:          #073642; //dark blue
$base01:          #586e75; //darkest gray
$base00:          #657b83; //dark gray
$base0:           #839496; //medium gray
$base1:           #93a1a1; //medium light gray
$base2:           #eee8d5; //cream
$base3:           #fdf6e3; //white
$solar-yellow:    #b58900;
$solar-orange:    #cb4b16;
$solar-red:       #dc322f;
$solar-magenta:   #d33682;
$solar-violet:    #6c71c4;
$solar-blue:      #268bd2;
$solar-cyan:      #2aa198;
$solar-green:     #859900;

$cream: $base2;
$white: $base3;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;

$bevel-light: lighten( rgba($base2, .1), 20);
$bevel-dark: rgba($base03, .3);

$nav-bg: darken($base02, 1);
$footer-bg: $nav-bg;

$nav-footer-dark: $nav-bg;
$nav-footer-light: $nav-bg;

$nav-bg-front: image-url('noise.png');
$nav-bg-back: linear-gradient( $nav-footer-light, $nav-footer-dark );

$footer-bg-front: image-url('noise.png');
$footer-bg-back: linear-gradient( $nav-footer-dark, $nav-footer-light );

$header-bg: darken(rgba($solar-blue, .8), 40);
// $subtitle-color: lighten($header-bg, 58);

$sidebar-bg: darken($base02, 1);
$sidebar-color: $base1;
$sidebar-link-color: saturate(#526f9a, 10);
$sidebar-link-color-hover: darken(#7ab662, 9);
$sidebar-border: darken($base0, 10);

$text-color: $base1;

$main-bg: $base1;