// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/*body > header {*/
	/*background-image: url("http://2.bp.blogspot.com/_rzQrByr0AIg/S5bRa0SKp3I/AAAAAAAAFIE/EDrfmyTSDYM/S1600-R/cityscape1.jpg");*/
  /*background-position: left;*/
/*}*/

body > header h1 {
  font-size: 3.5em;
}

figure.diagram {
  border: 4px double $base0;
  padding: 10px;
  margin: 30px 5px;

  img {
    display: block;
    margin: auto;
    border: none;
    @include box-shadow(none);
  }

  figcaption {
    padding-left:0.5em;
    margin-top: 5px;
    font-size: 1.2em;
    font-style: italic;
  }
}
